body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.layout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  display: flex;
  float: left;
  flex-direction: column;
  gap: 20px;
  width: 10%;
  padding: 20px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
}

.rightSide{
  float: left;
  width: 86.85%;
  
}

.app-logo {
  height: 100px; /* Adjust the size as needed */
  width: auto;
}

.app-title {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  margin: 0 !important;
}
.card {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  text-decoration: none;
  color: #333;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.card h2 {
  margin: 0 0 10px 0;
  font-size: 1.5em;
  color: #ff5f02;
}

.card p {
  margin: 0;
  font-size: 1em;
  color: #666;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.top-bar {
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
  text-align: right;
  width: 100%;
  justify-content: space-between;
  height: 15px;
}

.top-text{
  color: white;
  margin: 0 !important;

}



.orange-letter {
  color: rgb(255, 94, 0);
}


.logo-container {
  display: flex;
  align-items: center;
}